<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hs.doubaobao">


    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".model.Login.GuideActivity">
            <!--.model.Login.GuideActivity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--登录界面-->
        <activity android:name=".model.Login.LoginActivity"/>
        <!--主界面-->
        <activity android:name=".model.main.MainActivity"/>
        <!--部门统计-->
        <activity android:name=".model.department.DepartmentStatisticsActivity"/>
        <!--部门初审-->
        <activity android:name=".model.department.DepartmentTrialActivity"/>
        <!--门店一审-->
        <activity android:name=".model.StoreInstance.StoreInstanceActivity"/>
        <!--贷款申请-->
        <activity android:name=".model.ApplyLoad.ApplyLoadActivity"/>
        <!--添加借款申请表-->
        <activity android:name=".model.AddLoanTable.AddLoanTableActivity"/>
        <!--表单填写-->
        <activity android:name=".model.AddLoanTable.uploadMessage.FilloutLenderInformationActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--贷款事项填写-->
        <activity android:name=".model.AddLoanTable.uploadMessage.TheLoansActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--联系人信息-->
        <activity android:name=".model.AddLoanTable.uploadMessage.ContactInforActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--情况和意见-->
        <activity android:name=".model.AddLoanTable.uploadMessage.InvestigaOpinionActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--表单（选）填写-->
        <activity android:name=".model.AddLoanTable.uploadMessage.LenderInfoOptionalActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--共同借款人信息-->
        <activity android:name=".model.AddLoanTable.uploadMessage.MutualLenderInfoActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--车辆信息-->
        <activity android:name=".model.AddLoanTable.uploadMessage.CarInfoActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--放款评估-->
        <activity android:name=".model.AddLoanTable.uploadMessage.LoanEvaluationActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".model.AddLoanTable.uploadMessage.EvaluationStandardActivity"/>
        <!--上传照片-->
        <activity android:name=".model.AddLoanTable.uploadPicture.UploadPictureActivity"/>
        <!--上传视频-->
        <activity android:name=".model.AddLoanTable.uploadVideo.UploadVideoActivity"/>
        <!--风控审批-->
        <activity android:name=".model.riskControl.RiskControlApprovalActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--总经理审批-->
        <activity android:name=".model.GeneralManager.GeneralManagerApprovalActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <!--无效列表-->
        <activity android:name=".model.invalid.InvalidListActivity"/>
        <!--无效原因查看-->
        <activity android:name=".model.invalid.InvalidReasonActivity"/>
        <!--客户详情-->
        <activity android:name=".model.detail.DetailActivity"/>
        <!--图片放大预览-->
        <activity android:name=".model.detail.pictrue.ImagePagerActivity"/>
        <!--审批界面-->
        <activity android:name=".model.Approval.ApprovalActivity"/>
        <activity android:name=".model.AddLoanTable.uploadVideo.VideoPick.VideoListActivity"/>
    </application>

</manifest>